<configuration>
<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
        <!--<pattern>%date{MM/dd HH:mm:ss} %-6level[%logger{0}]: %msg%n</pattern>-->
        <pattern>%-6level [%logger{0}]: %msg%n</pattern>
    </encoder>
</appender>
<logger name="serverless" level="INFO"/>
<root level="debug">
    <appender-ref ref="STDOUT" />
</root>
</configuration>